<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Specs</title>
</head>
<body style="text-align:center">
<h1>Fill the product details</h1>
<form action="/product_main" method="post">
    <input name="order_id" id="order_id" placeholder="Enter the Order id">
       <br> <br><input name="Name" id="Name" placeholder="Enter the Name of Product">
        <br><br><input name="Price" id="Price" placeholder="Enter the price">
        <br><br><input name="Image_Link" id="Image_link" placeholder="Enter the Image link">
    <br><br><select name="Type" id="Type">
    <option value="Tshirt">Tshirts</option>
    <option value="Hoodie">Hoodies</option>
    <option value="Watches">Watches</option>
  </select><br><br>
    <button type="submit">Submit</button>
    <br><br><br>
    <a style="text-decoration:none" href="/">HomePage</a>
</form>
</body>
</html>